.home {
    background-color: rgb(179, 143, 251);
    .home-wrapper {
        width: 95%;
        margin: 0 auto;
        max-width: 1850px;


        .display-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            margin: 0;
            padding: 0;
        }
    }
}