$bodyColor: rgb(125, 110, 152);
$headerBackgroundColor: rgb(189, 131, 22);
$textColor: rgb(51, 6, 6);





body {
    background: $bodyColor;
    margin: 0 auto;
    


    .wrapper {
        margin: 0 auto;
        width: 95%;
        max-width: 1480px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        form {
            border: 4px solid $textColor;
            width: 40%;
            height: 50%;
            border-radius: 40px;
            display: flex;
            
            align-items: center;
            background-color: #fff;
            flex-direction: column;
            overflow: hidden;
            padding: 0;
            .planner-container {

                background-color: $headerBackgroundColor;
                width: 100%;
                margin-top: 0;
                text-align: center;
                
                background-size: cover;
                h3 {
                    text-transform: uppercase;
                    font-size: 2rem;
                
                
            }
            }
            .input {
                margin: 20px;
                .fa-envelope,
                .fa-lock {
                    color: $textColor;
                    padding-right: 10px;
                    font-size: 1.4rem;
                }
                
                }
            .button {
                button {
                    background-color: $bodyColor;
                    color: #fff;
                    width: 7rem;
                    padding: 5px;
                    border-radius: 5rem;
                    font-size: 1.2rem;
                }
            }
    
        }
        
        
        
        
    
    }
}



