.nav {
  background-color: rgb(179, 143, 251);

  .nav-wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1850px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      h1 {
        color: #6f204d;
        text-transform: uppercase;
        font-size: 4rem;
        margin-left: 20rem;
      }

      .date {
        background-color: rgb(179, 143, 251);
        border: 4px solid #6f204d;
        color: #6f204d;
        padding: 15px 0 15px 15px;
        border-radius: 50px 50px 0 50px;

        font-size: 1.4rem;
        width: 10rem;
        text-align: center;
        font-weight: bold;
      }

      .dropdown-content {
        display: flex;
        align-items: center;
        border-radius: 5px;

        flex-direction: column;
        .fa-user {
          font-size: 1.4rem;
          color: #6f204d;
        }

        p {
          font-size: 1.4rem;
          color: #6f204d;
          font-weight: bold;
        }

        button {
          font-size: 1.2rem;
          color: #6f204d;
          font-weight: bold;
          background-color: beige;
          border-radius: 4px;
          border: 2px solid #6f204d;
          &:hover,
          &:focus {
            font-size: 1.4rem;
            transition: ease-in-out 0.2s;
          }
        }
        // }
      }
    }
    .display-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin: 0;
      padding: 0;
    }
  }
}
