.nav {
  background-color: rgb(179, 143, 251);

  .nav-wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1850px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      .plus-container {
        .plus-trigger {
          .fa-plus {
            font-size: 2rem;
            color: #6f204d;

            margin: 6px 0;
          }
        }
      }
      .plus-dropdown.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: ease-in 0.2s;
      }

      .plus-dropdown.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: ease 0.2s;
      }

      h1 {
        color: #6f204d;
        text-transform: uppercase;
        font-size: 4rem;
        margin-left: 20rem;
      }

      .date {
        background-color: rgb(179, 143, 251);
        border: 4px solid #6f204d;
        color: #6f204d;
        padding: 15px 0 15px 15px;
        border-radius: 50px 50px 0 50px;

        font-size: 1.4rem;
        width: 10rem;
        text-align: center;
        font-weight: bold;
      }
      .dropdown-menu {
        position: relative;
        &:hover .dropdown-content {
          display: block;
        }
        .fa-user {
          font-size: 1.4rem;
          color: #6f204d;
        }
        .dropdown-content {
          position: absolute;
          display: none;
        }
      }
    }
    .display-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin: 0;
      padding: 0;
    }
  }
}
