.span-2-col {
  grid-column: span 2;
}

.notes {
  border: 6px solid #6f204d;
  padding: 0;
  border-radius: 2rem;
  margin: 0;
  overflow: hidden;

  h2 {
    background-color: rgb(255, 184, 76);
    color: #6f204d;
    text-align: center;
    font-size: 2rem;
    // background-size: contain;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 0;
    border-bottom: 6px solid #6f204d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px 0 40px;

      label {
        width: 100%;

        input {
          background: transparent;
          outline: none;
          border-style: none;
          border-bottom: 2px solid #6f204d;
          font-size: 1.46rem;
          color: #6f204d;
          width: 95%;
        }
      }

      button {
        background-color: transparent;
        border: 3px solid #6f204d;
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &:focus {
          background-color: #6f204d;
        }
        .fa-plus {
          color: #6f204d;
          &:hover,
          &:focus {
            color: rgb(255, 184, 76);
          }
        }
      }
    }
  }

  .notes-background {
    background-color: #fff;
    height: 400px;
    ul {
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      justify-content: space-between;
      margin: 0;

      li {
        width: 100%;
        background-color: beige;
        display: flex;
        border-bottom: 1px solid lightblue;
        color: #6f204d;
        font-size: 1.4rem;
        padding: 5px;
        .note-entry {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .garbage {
            font-size: 1.6rem;
            &:hover {
              cursor: pointer;
              animation: shake 0.4s;
            }
          }
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  25% {
    transform: rotate(10deg) translateX(-4px);
  }
  50% {
    transform: rotate(0deg) translateX(0px);
  }
  75% {
    transform: rotate(5deg) translateX(-4px);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

@media (max-width: 1150px) {
  .span-2-col {
    grid-column: unset;
  }
  .notes .notes-background {
    height: 100%;
  }
}
