$bodyColor: rgb(125, 110, 152);
$headerBackgroundColor: rgb(189, 131, 22);
$textColor: rgb(51, 6, 6);




body {
    margin: 0 auto;
    background: #fff;
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Khula', sans-serif;
    
    
}


.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        
        
        
        border-radius: 4px;
        padding: 0 50px 50px 50px;
        min-width: 500px;
        
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 2px 2px 0px, rgba(0, 0, 0, 0.07) 0px 4px 4px 0px, rgba(0, 0, 0, 0.07) 0px 8px 8px 0px, rgba(0, 0, 0, 0.07) 0px 16px 16px 0px;
        display: flex;
        flex-direction: column;
        .daily-planner {
            background: linear-gradient(to right, $bodyColor, rgb(176, 174, 177));
            width: 125%;            
            height: 10rem;
            border-radius: 4px 4px 6rem 6rem;            
            margin: 0 0 4rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            h3 {
                font-size: 4rem;
                color: rgb(98, 98, 98);
                
            }
            
            
        }
        .container {
            justify-content: space-evenly;
            .input {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
                .fa-envelope,
                .fa-lock,
                .fa-key {
                    font-size: 1.6rem;
                    margin: 0 0 1.6rem 0;
                    color: $bodyColor;
                    padding: 0 1.4rem 0 0;
                }
                input {
                        border: none;
                        font-size: 1.4rem;
                        border-radius: 4px;
                        margin: 0 0 1.6rem 0;
                        outline: none;
                    }
                input:first-child {
                    margin: 1.6rem 0 0 0;
                }

            }
            .button {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                button {
                    padding: 0.4rem 2rem;
                    font-size: 1.2rem;
                    background: linear-gradient(to right, $bodyColor, rgb(176, 174, 177));
                    cursor: pointer;
                    color: #fff;
                    border-radius: 2rem;
                    margin: 1.4rem 0 0 0;
                    width: 60%;
                    
                    
        
        
                }
            }
        }
        

    }

}


